<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Bug Tracking System</title>
</head>

<body>

  <h1 style="text-align: center; margin-bottom: 50px; margin-top: 20px;"> Bug Tracking System </h1>


  <p style="margin-left: 15px;"> Using this software, a tester can create a request for a bug to be resolved by using
    the create bug option where the tester has to fill in the required fields like priority, status , type , project id
    and the date it was sumbitted on. This request is then to be reviwed by a devloper and once the developer
    acknowledges the request , can update about the bug by using the update option. Finally, we have an option of
    displaying the details of a specific bug or we can also generate a table to look into all the bugs.</p>


</body>

</html>
